html{
    padding: 0.5%;
    background-image: url('images/platter-g590a9ad01_1920.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: auto 100% 50px;
}
