html{
  padding: 0.5%;
  background-image: url('./images/platter-g590a9ad01_1920.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header{
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  border: 1px;
  border-color: black;
}
.header-main{
  background-color: rgba(226, 230, 230, 0.217);
}
.header-name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 6vw;
  color: rgb(9, 9, 8);
  padding: 1% 0.5%;
  
}
.header div{
  padding: 2%;
  
  
  
}
.header button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(25, 27, 29);
  background-color: rgba(226, 230, 230, 0.217);
  width: 11vw;
  font-size: 2vw;
  height: 6vh;
}